/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/
:root {
  /**
    *Colors
    */
  --white: hsl(0, 0%, 100%);
  --overlay-bg: hsla(0, 3%, 13%, 0.5);

  /*Light theme*/
  --light-background: hsl(0, 0%, 96%);
  --light-on-background: hsl(0, 3%, 13%);
  --light-on-background-variant: hsl(20, 3%, 19%);
  --light-primary: hsl(11, 87%, 59%);
  --light-primary-hover: hsl(11, 60%, 50%);
  --light-primary-container: hsl(14, 57%, 95%);
  --light-error: hsl(1, 73%, 42%);
  --light-active-indicator: hsl(12, 58%, 88%);
  --light-image-background: hsl(0, 0%, 70%);
  --light-badge-btn: hsl(30, 58%, 88%);
  --light-on-badge-btn: hsl(24, 7%, 14%);
  --light-outline: hsl(10, 19%, 88%);
  --light-input-outline: hsl(7, 7%, 73%);
  --light-input-outline-hover: hsl(9, 3%, 52%);
  --light-alpha-10: hsla(0, 0%, 0%, 0.1);
  --light-alpha-20: hsla(0, 0%, 0%, 0.2);

  /*Dark theme*/
  --dark-background: hsl(0, 0%, 10%);
  --dark-on-background: hsl(11, 3%, 87%);
  --dark-on-background-variant: hsl(11, 3%, 81%);
  --dark-primary: hsl(11, 87%, 64%);
  --dark-primary-hover: hsl(11, 51%, 51%);
  --dark-primary-container: hsl(15, 3%, 15%);
  --dark-error: hsl(1, 69%, 59%);
  --dark-active-indicator: hsl(15, 25%, 22%);
  --dark-image-background: hsl(0, 0%, 30%);
  --dark-badge-btn: hsl(30, 28%, 13%);
  --dark-on-badge-btn: hsl(30, 8%, 86%);
  --dark-outline: hsl(11, 3%, 20%);
  --dark-input-outline: hsl(11, 3%, 29%);
  --dark-input-outline-hover: hsl(0, 4%, 58%);
  --dark-alpha-10: hsla(0, 0%, 100%, 0.1);
  --dark-alpha-20: hsla(0, 0%, 100%, 0.2);

  /**
  *Typography
  */

  /* font family */
  --font-primary: "DM Serif Display", serif;
  --font-secondary: "DM Sans", sans-serif;

  /* font weight */
  --weight-regular: 400;
  --weight-medium: 500;

  /* font size */
  --fs-base: 62.5%;
  --fs-display-large: 2.8rem;
  --fs-display-medium: 3.2rem;
  --fs-display-small: 2.6rem;
  --fs-headline-small: 2.4rem;
  --fs-title-medium: 1.6rem;
  --fs-title-small: 1.4rem;
  --fs-body-large: 1.6rem;
  --fs-body-medium: 1.4rem;
  --fs-label-large: 1.4rem;
  --fs-label-medium: 1.2rem;
  --fs-label-small: 1.1rem;

  /**
  *border radius
  */
  --radius-4: 4px;
  --radius-8: 8px;
  --radius-circle: 50%;
  --radius-pill: 500px;

  /**
  *box shadow
  */
  --shadow-1: 0 -1px 8px hsla(0, 0%, 0%, 0.2);
  --shadow-2: 0 2px 4px 1px hsla(0, 0%, 0%, 0.3);

  /**
  *Others
 */
  --header-height: 64px;
  --mobile-nav-height: 80px;
  --section-gap: 32px;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    /**
    *Transition
    */
    --transition-timing-function: cubic-bezier(0.2, 0, 0, 1);
    --transition-short: 200ms var(--transition-timing-function);
    --transition-medium: 500ms var(--transition-timing-function);
  }
}

[data-theme="Light"] {
  color-scheme: Light;

  --background: var(--light-background);
  --on-background: var(--light-on-background);
  --on-background-variant: var(--light-on-background-variant);
  --primary: var(--light-primary);
  --primary-hover: var(--light-primary-hover);
  --primary-container: var(--light-primary-container);
  --error: var(--light-error);
  --active-indicator: var(--light-active-indicator);
  --image-background: var(--light-image-background);
  ---badge-btn: var(--light-badge-btn);
  ---on-badge-btn: var(--light-on-badge-btn);
  --outline: var(--light-outline);
  --input-outline: var(--light-input-outline);
  --input-outline-hover: var(--light-input-outline-hover);
  --alpha-10: var(--light-alpha-10);
  ---alpha-20: var(--light-alpha-20);
}

[data-theme="dark"] {
  color-scheme: dark;

  --background: var(--dark-background);
  --on-background: var(--dark-on-background);
  --on-background-variant: var(--dark-on-background-variant);
  --primary: var(--dark-primary);
  --primary-hover: var(--dark-primary-hover);
  --primary-container: var(--dark-primary-container);
  --error: var(--dark-error);
  --active-indicator: var(--dark-active-indicator);
  --image-background: var(--dark-image-background);
  ---badge-btn: var(--dark-badge-btn);
  ---on-badge-btn: var(--dark-on-badge-btn);
  --outline: var(--dark-outline);
  --input-outline: var(--dark-input-outline);
  --input-outline-hover: var(--dark-input-outline-hover);
  --alpha-10: var(--dark-alpha-10);
  ---alpha-20: var(--dark-alpha-20);
}
/*-----------------------------------*\
  #RESET
\*-----------------------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a,
img,
span,
input,
button {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: auto;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
}

input {
  width: 100%;
}

button {
  color: inherit;
  cursor: pointer;
}

html {
  font-family: var(--font-secondary);
  font-size: var(--fs-base);
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}
body {
  background-color: var(--background);
  color: var(--on-background);
  font-size: var(--fs-body-medium);
  font-weight: var(--weight-regular);
  line-height: 20px;
  letter-spacing: 0.25px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-block: calc(var(--header-height) + 16px) var(--mobile-nav-height);
  opacity: 0;
  animation: fade 300ms var(--transition-timing-function) forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

main {
  flex-grow: 1;
}

:focus-visible {
  outline-color: var(--primary);
}

/*-----------------------------------*\
  #TYPOGRAPHY
\*-----------------------------------*/

.display_large {
  font-family: var(--font-primary);
  font-size: var(--fs-display-large);
  font-weight: var(--weight-regular);
  line-height: 32px;
  letter-spacing: -0.25px;
}
.display_medium {
  font-size: var(--fs-display-medium);
  line-height: 36px;
}
.display_small {
  font-family: var(--font-primary);
  font-size: var(--weight-regular);
  font-weight: var(--weight-regular);
  line-height: 32px;
}
.headline_small {
  font-size: var(--fs-headline-small);
  font-weight: var(--weight-regular);
  line-height: 32px;
}
.title_medium {
  font-size: var(--fs-title-medium);
  font-weight: var(--weight-regular);
  line-height: 24px;
  letter-spacing: 0.15px;
}
.title_small {
  font-size: var(--fs-title-small);
  font-weight: var(--weight-medium);
  line-height: 20px;
  letter-spacing: 0.1px;
}
.body_large {
  font-size: var(--fs-body-large);
  line-height: 24px;
  letter-spacing: 0.5px;
}
.body_medium {
  font-size: var(--fs-body-medium);
  line-height: 20px;
}
.label_large {
  font-size: var(--fs-label-large);
  font-weight: var(--weight-medium);
  line-height: 20px;
  letter-spacing: 0.1px;
}
.label_medium {
  font-size: var(--fs-label-medium);
  font-weight: var(--weight-medium);
  line-height: 16px;
  letter-spacing: 0.5px;
}
.label_small {
  font-size: var(--fs-label-small);
  font-weight: var(--weight-medium);
  line-height: 16px;
  letter-spacing: 0.5 px;
}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/
.has-state {
  position: relative;
  overflow: hidden;
}

.has-state::after {
  content: "";
  position: absolute;
  inset: 0;
  transition: var(--transition-short);
}

.has-state:where(:hover, :focus):not(:active)::after {
  background-color: var(--alpha-10);
}
.material-symbols-outlined {
  display: block;
  width: 1em;
  height: 1em;
  overflow: hidden;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.section {
  margin-block-end: var(--section-gap);
}
.container {
  max-width: 1130px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 16px;
}
.grid-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(172px, 1fr));
  gap: 12px 8px;
}
.img-holder {
  background-color: var(--image-background);
  background-image: url("../image/image-placeholder.svg");
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: center;
  overflow: hidden;
}
.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-title {
  margin-block-end: 12px;
}
.snackbar-container {
  position: fixed;
  bottom: calc(var(--mobile-nav-height) + 16px);
  left: 16px;
  right: 16px;
  display: grid;
  gap: 8px;
  z-index: 4;
}

/*-----------------------------------*\
  #COMPONENTS
\*-----------------------------------*/

/**
 * Secondary tab
 */
.tab-list {
  display: flex;
  color: var(--on-background-variant);
  box-shadow: inset 0 -1px 0 var(--outline);
  overflow-x: auto;
  scrollbar-width: none;
}
.tab-list::-webkit-scrollbar {
  display: none;
}

.tab-btn {
  padding-inline: 24px;
  height: 48px;
  border-block-end: 2px solid transparent;
  flex: 1 0 80px;
  transition: var(--transition-short);
}

.tab-btn:where(:hover, :focus-visible):not(:active) {
  background-color: var(--alpha-10);
}
.tab-btn[aria-selected="true"] {
  color: var(--on-background);
  border-color: var(--primary);
}

/**
 * Skeleton
 */
.skeleton {
  background-color: var(--on-background);
  animation: skeleton-loading 500ms linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.4;
  }
}

.skeleton-card .card-banner {
  aspect-ratio: 1 / 1;
  width: 100%;
  border-radius: var(--radius-4);
}
.skeleton-card .card-title {
  margin-block: 8px;
  width: 50%;
  height: 16px;
}
.skeleton-card .card-text {
  width: 80%;
  height: 12px;
}

/**
 * Card
 */
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.card:not(:has(.skeleton)) {
  animation: fade-in 500ms var(--transition-timing-function) forwards;
  transform: translateY(30px);
  opacity: 0;
}
@keyframes fade-in {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.card-media {
  aspect-ratio: 1 / 1;
  border-radius: var(--radius-4);
}
.card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
  gap: 8px;
}
.card-link {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow-y: hidden;
  transition: var(--transition-short);
}
.card-link:where(:hover, :focus-visible) {
  color: var(--primary);
}
.card-link::before {
  content: "";
  position: absolute;
  inset: 0;
}

.card :where(.meta-wrapper, .meta-item) {
  display: flex;
  align-items: center;
}
.card .meta-wrapper {
  justify-content: space-between;
}
.card .meta-item {
  gap: 8px;
}
.card .meta-item .material-symbols-outlined {
  font-size: 1.8rem;
}
.saved .bookmark-add,
.removed .bookmark {
  display: none;
}
.saved .bookmark {
  font-variation-settings: "FILL" 1;
}

/**
 * Icon Button
 */
.icon-btn {
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  background-color: var(--primary-container);
  border-radius: var(--radius-circle);
}

/**
 * Button
 */
.btn {
  height: 40px;
  max-width: max-content;
  padding-inline: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: var(--radius-4);
  transition: var(--transition-short);
}

.btn .material-symbols-outlined {
  font-size: 1.8rem;
}
.btn.has-icon {
  padding-inline-start: 16px;
}

/* primary button */
.btn-primary {
  background-color: var(--primary);
  color: var(--white);
}

.btn-primary:where(:hover, :focus-visible):not(:active) {
  background-color: var(--primary-hover);
}

/* Secondary button */
.btn-secondary {
  background-color: var(--primary-container);
}

/* Badge button */
.badge-btn {
  height: 40px;
  border-radius: var(--radius-pill);
  background-color: var(---badge-btn);
  color: var(---on-badge-btn);
  max-width: max-content;
  padding-inline: 16px;
  display: grid;
  place-items: center;
}
/*Filter button */

/**
 * Input
 */
.input-outlined {
  position: relative;
  box-shadow: inset 0 0 0 1px var(--input-outline);
  border-radius: var(--radius-4);
  display: flex;
  align-items: center;
  width: 100%;
  transition: var(--transition-short);
}
.input-outlined:hover {
  box-shadow: inset 0 0 0 1px var(--input-outline-hover);
}
.input-outlined:has(:focus, input:not(:placeholder-shown)) {
  box-shadow: inset 0 0 0 2px var(--primary);
}
.input-field {
  height: 56px;
  padding-inline: 16px;
  outline: none;
}

.input-field::placeholder {
  opacity: 0;
  transition: var(--transition-short);
}
.input-field:focus::placeholder {
  opacity: 1;
}
.input-outlined .label {
  position: absolute;
  left: 16px;
  opacity: 0.75;
  background-color: var(--background);
  padding-inline: 4px;
  margin-inline: -4px;
  pointer-events: none;
  transition: var(--transition-short);
}
.input-outlined:has(:focus, input:not(:placeholder-shown)) .label {
  color: var(--primary);
  transform: translateY(-27px) scale(0.75);
  transform-origin: left center;
  opacity: 1;
}
/**
 * Filter chip
 */

.filter-chip {
  height: 32px;
  background-color: var(--background);
  border: 1px solid var(--outline);
  border-radius: var(--radius-8);
  display: grid;
  place-items: center;
  padding-inline: 16px;
  user-select: none;
  cursor: pointer;
}
.filter-chip .checkbox {
  appearance: none;
  width: 1px;
  height: 1px;
  margin: -1px;
  opacity: 0;
}
.filter-chip:has(:focus-visible) {
  box-shadow: inset 0 0 0 1px var(--primary);
}
.filter-chip:has(:checked) {
  background-color: var(---badge-btn);
  border-color: var(---badge-btn);
}
/**
 * Badge
 */

/**
 * Snackbar
 */
.snackbar {
  height: 48px;
  width: 100%;
  background-color: var(--on-background-variant);
  color: var(--background);
  padding-inline: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--radius-4);
  box-shadow: var(--shadow-1);
  animation: snackbar 3s var(--transition-timing-function) forwards;
}

@keyframes snackbar {
  0% {
    height: 0;
    opacity: 0;
  }
  10%,
  95% {
    height: 48px;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/
.navbar,
.header .btn-primary {
  display: none;
}

.header {
  background-color: var(--background);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  display: flex;
  align-items: center;
  gap: 20px;
  padding-inline: 16px;
  border-block-end: 1px solid var(--outline);
  z-index: 4;
}
.theme-switch {
  margin-inline-start: auto;
}

[data-theme="Light"] :where(.logo-dark, .theme-switch .light-icon),
[data-theme="dark"] :where(.logo-light, .theme-switch .dark-icon) {
  display: none;
}

/*-----------------------------------*\
  #MOBILE NAV
\*-----------------------------------*/

.mobile-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: var(--primary-container);
  color: var(--on-background-variant);
  width: 100%;
  height: var(--mobile-nav-height);
  padding-block: 12px 16px;
  box-shadow: var(--shadow-1);
  z-index: 4;
}
.mobile-nav .nav-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}
.mobile-nav .item-icon {
  width: 64px;
  height: 32px;
  display: grid;
  place-items: center;
  margin-inline: auto;
  margin-block-end: 4px;
  border-radius: var(--radius-pill);
  transition: var(--transition-short);
}
.mobile-nav .nav-link:where(:hover, :focus-visible) .item-icon {
  background-color: var(--alpha-10);
}
.mobile-nav .nav-link[aria-current="true"] {
  color: var(--on-background);
}
.mobile-nav .nav-link[aria-current="true"] .item-icon {
  background-color: var(--active-indicator);
}
.mobile-nav .nav-link[aria-current="true"] .material-symbols-outlined {
  font-variation-settings: "FILL" 1;
}

/*-----------------------------------*\
  #HERO
\*-----------------------------------*/
.hero {
  padding-inline: 16px;
}
.banner-card {
  background-color: var(--image-background);
  color: var(--white);
  background-image: url("../image/hero-banner-small.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 480px;
  display: grid;
  place-content: center;
  grid-template-columns: 1fr;
  text-align: center;
  padding-inline: 20px;
  border-radius: var(--radius-8);
}
.hero .search-wrapper {
  position: relative;
  color: var(--on-background);
  width: 100%;
  max-width: 480px;
  margin-inline: auto;
  margin-block: 16px 12px;
  overflow: hidden;
  border-radius: var(--radius-4);
}
.hero .search-wrapper .leading-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}
.search-field {
  background-color: var(--primary-container);
  height: 56px;
  padding-inline: 56px;
  outline: none;
}
.search-submit {
  background-color: var(--primary);
  color: var(--white);
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;
  width: 48px;
  display: grid;
  place-items: center;
  border-radius: var(--radius-4);
  transition: var(--transition-short);
}
.search-submit:where(:hover, :focus-visible):not(:active) {
  background-color: var(--primary-hover);
}

/*-----------------------------------*\
  #TAB
\*-----------------------------------*/
.tab .tab-list {
  background-color: var(--background);
  position: sticky;
  top: var(--header-height);
  margin-inline: -16px;
  padding-inline: 16px;
  margin-block: 16px 12px;
  z-index: 1;
}
.tab-panel[hidden] {
  display: none;
}
.tab .btn-secondary {
  max-width: 100%;
  margin-block-start: 12px;
}

/*-----------------------------------*\
  #RECIPE SLIDER
\*-----------------------------------*/
.slider {
  --gap: 8px;
  position: relative;
  overflow-x: auto;
  scroll-snap-type: inline mandatory;
  padding-block-end: 5px;
}
.slider::-webkit-scrollbar {
  height: 4px;
}
.slider::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.slider:where(:hover, :focus-within)::-webkit-scrollbar-thumb {
  background-color: var(--alpha-10);
}
.slider-wrapper {
  display: flex;
  align-items: stretch;
  gap: var(--gap);
  transition: var(--transition-medium);
}
.slider-item {
  min-width: calc(50% - 4px);
  scroll-snap-align: start;
}
.load-more-card {
  height: 100%;
  background-color: var(--primary-container);
  border-radius: var(--radius-4);
  border: 1px solid var(--outline);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

/*-----------------------------------*\
  #TAG
\*-----------------------------------*/
.tag {
  text-align: center;
}
.tag .section-text {
  max-width: 50ch;
  margin-inline: auto;
}
.tag-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-block-start: 24px;
}
/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer .logo {
  display: none;
}
.footer {
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
  border-block-start: 1px solid var(--outline);
}
.copyright {
  opacity: 0.8;
}
.footer .edamam img {
  width: 180px;
}

/*-----------------------------------*\
  #RECIPE PAGE
\*-----------------------------------*/

/* Filter bar */
.filter-bar {
  position: fixed;
  top: 0;
  right: -400px;
  background-color: var(--background);
  max-width: 400px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  visibility: hidden;
  transition: var(--transition-short);
  z-index: 6;
}
.filter-bar.active {
  visibility: visible;
  transform: translateX(-400px);
  transition: var(--transition-medium);
}

/*-----------------------------------*\
  #DETAIL PAGE
\*-----------------------------------*/

/* Skeleton */

/*-----------------------------------*\
  #SAVED RECIPE PAGE
\*-----------------------------------*/

/*-----------------------------------*\
  #MEDIA QUEIES
\*-----------------------------------*/
